/*

table {
    border: 1px solid black;
}
tr {
    height: 5em;
}
th {
    height: 100%;
    width: 100%;

    border: 1px solid black;
}

td {
    width: 100%;
    width: 100%;
    
    border: 1px solid black;
}
textarea {
    height: 100%;
    width: 100%;
    
    resize: none;
}

tr:nth-child(even) textarea {
    background-color: #dddddd;
}

.table_div_col0 {
    background-color: red;
    height: 100%;
    width: 100%;
}
*/

#vis-table {
    border: 1px solid black;

    height: fit-content;
    width: fit-content;
}

/*#vis-header {
    border: 1px solid green;

    min-height: 10vh;
    width: 100%;

    display: flex;
}*/
.vis-row {
    border: 1px solid blue;

    display: flex;
    height: 5em;
}
.vis-columnbox {
    border: 1px solid pink;
    padding: 0.5em;
    
    width: 7em;
}
