#vis-table {
    border: 1px solid black;

    margin-top: 5em;

    height: fit-content;
    width: fit-content;
}

/*#vis-header {
    border: 1px solid green;

    min-height: 10vh;
    width: 100%;

    display: flex;
}*/
.vis-row {
    border: 1px solid blue;

    display: flex;
    height: fit-content;
}
.vis-columnbox {
    border: 1px solid pink;
    padding: 0.5em;
    min-width: 5em;
    min-height: 5em;
    /*
    overflow: auto;
    resize: both;
    */
    margin: 0;
    padding: 0;
}
.vis-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    
    visibility: show;

    padding: 0;
    margin: 0;
}
.vis-resizable-row {
    resize: vertical;
    overflow: auto;
}
.vis-resizable-column {
    resize: horizontal;
    overflow: auto;
}
